html {
  box-sizing: border-box;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Playfair Display', serif;
  font-size: 10px;
  line-height: 1.5;
  margin: 0;
  color: #333;
}

.dropdown {
  position: fixed;
  width: 100%;
  margin: 0;
  top: 0;
  padding: 1rem;
  background: #F2F2F2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  outline: 0;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  transition: all .1s linear;
  cursor: pointer;
}

/* .dropdown:focus {
  animation: slide 0.8s linear;
  animation-timing-function: ease-in-out;
  top: calc(100vh - 56px);
  background: rgba(242, 242, 242, 0);
  box-shadow:none;
}

@keyframes slide {
  0% {
    top: 0;
    background: rgba(242, 242, 242, 1);
  }
  100% {
    top: calc(100vh - 56px);
    background: rgba(242, 242, 242, 0);
  }
} */

.footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 40px;
  padding: 1rem;
  background: #fff;
  z-index: 2;
}

.signature {
  font-size: 1.8em;
  letter-spacing: 0.5em;
  color: #BDBDBD;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
  font-size: 1.8em;
  padding: 120px 60px;
  margin: 0 auto;
  height: 100%;
  z-index: 1;
  align-content: space-between;
}

.row {
  display: inherit;
  word-wrap: break-word;
  flex-wrap: wrap;
}

.row >.column:last-child {
  padding-right: 0px;
}

.row >.column:first-child {
  padding-left: 0px;
}

.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

img {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  cursor: pointer;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  max-width: 100%;
}

.hero {
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-height: 540px;
  position: relative;
}

@media screen and (max-width: 991px) {
  .row>.column:nth-of-type(even) {
    padding-right: 0px;
  }
  .row>.column:nth-of-type(odd) {
    padding-left: 0px;
  }
  .signature {
    font-size: 1.4em;
  }
  .container {
    padding: 80px 40px;
  }
  .dropdown {
    padding: .75em;
  }
  /* .dropdown:focus {
    top: calc(100vh - 44px);
  } */

  /* @keyframes slide {
    0% {
      top: 0;
      background: rgba(242, 242, 242, 1);
    }
    100% {
      top: calc(100vh - 56px);
      background: rgba(242, 242, 242, 0);
    }
  } */
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .dropdown {
    padding: .6em;
  }
  /* .dropdown:focus {
    top: calc(100vh - 40px);
    background: rgba(242, 242, 242, 0);
  }
  @keyframes slide {
    0% {
      top: 0;
      background: rgba(242, 242, 242, 1);
    }
    100% {
      top: calc(100vh - 40px);
      background: rgba(242, 242, 242, 0);
    }
  } */
}

/* overlay page */

.overlay {
  display: none;
  z-index: 3;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}