html {
  box-sizing: border-box;
  margin: 0;
  height:100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

a:active {
  outline: none;
}

button::-moz-focus-inner {
  /*remove FireFox dotted outline*/
  border: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 10px;
  line-height: 1.5;
  margin: 0;
  color: #333;
  height:100%;
}

 .container:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
} 

h1{
  font-size:3em;
  font-weight: bolder;
  margin:0.1em 0;
}

h3 {
  font-weight: normal;
}

.intro{
  color:#333;
  padding-right:20px;
}

.dropdown {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  background: #F2F2F2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  outline: 0;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  cursor: pointer;
  height: 40px;
  transition: all 0.2s ease-in-out;
}

.chevron {
  width: 24px;
  height: 20px;
  fill: none;
  stroke: #333;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: all 0.2s ease-out;
}

.follow {
  color: #F2F2F2;
  font-size: 4em;
  text-align: center;
  letter-spacing: 0.20em;
  user-select: none;
  max-width: 310px;
  margin: auto;
}

.links {
  height: auto;
  text-align: center;
  letter-spacing: 2em;
  padding: 1em;
  vertical-align: middle;
  display: flex;
  justify-content: space-around;
  /*Edge*/
  justify-content: space-evenly;
  max-width: 400px;
  margin: auto;
}

.social {
  height: 4rem;
  width: 4rem;
  transition: all 0.1s ease-in-out;
}

.social:hover,
.social:active {
  transform: scale(0.9);
}

.social>path {
  fill: #f3f3f3;
}

.social.twitter:hover>path {
  fill: #1DA1F2;
}

.social.instagram {
  padding: 6px 0px;
}

.social.instagram>path {
  fill: none;
  stroke: #f3f3f3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}

.social.instagram:hover>path {
  stroke: #E7098B;
}

.social.flickr>path {
  fill: #f3f3f3;
}

.social.flickr:hover>#fl1 {
  fill: #0063dc;
}

.social.flickr:hover>#fl2 {
  fill: #ff0084;
}

.overlay-container {
  justify-content: center;
  width: 100%;
  padding: 120px;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}

.overlay {
  display: flex;
  z-index: 3;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(calc(-100% + 40px));
  justify-content: center;
  align-items: center;
  transition: all 0.45s ease-in-out;
}

.overlay.hidden{
  transform: translateY(-100%);
  transition: all 0.1s ease-out;
}

.overlay.dropped {
  transform: translateY(0%);
  transition: all 0.45s ease-in-out;
}

.overlay.dropped>.dropdown {
  background: rgba(242, 242, 242, 0);
  box-shadow: none;
}

.overlay.dropped>.dropdown>.chevron {
  stroke: #F2F2F2;
  transform: rotateZ(180deg);
}

/*button hover effect

.overlay>.dropdown:hover>.chevron {
  stroke: #F2F2F2;
  transition: all 0.2s ease-in-out;
}

.overlay>.dropdown:hover {
  background: transparent;
  transition: all 0.2s ease-in-out;
}

.overlay.dropped>.dropdown:hover {
  background: #F2F2F2;
}

.overlay.dropped>.dropdown:hover>.chevron {
  stroke: #333;
  transition: all 0.2s ease-in-out;
}

button hover effect*/

.overlay.dropped>.overlay-container {
  visibility: visible;
}

/* .footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 40px;
  padding: 1rem;
  background: #fff;
  z-index: 2;
} */

.signature {
  font-size: 1.8em;
  letter-spacing: 0.5em;
  color: #BDBDBD;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
  font-size: 1.8em;
  padding: 140px 180px;
  margin: 0 auto;
  height: 100%;
  z-index: 1;
  align-content: space-between;
}

.row {
  display: inherit;
  word-wrap: break-word;
  flex-wrap: wrap;
  margin:auto;
}

.row>.column:last-child {
  padding-right: 0px;
}

.row>.column:first-child {
  padding-left: 0px;
}

.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.img {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  margin-top: 12px;
  vertical-align: middle;
  max-width: 100%;
  width: 100%;
}

.hero {
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-height: 540px;
  position: relative;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
  .row>.column:nth-of-type(even) {
    padding-right: 0px;
  }
  .row>.column:nth-of-type(odd) {
    padding-left: 0px;
  }
  .signature {
    font-size: 1.4em;
  }
  .container {
    padding: 120px;
  }
  .overlay-container {
    padding: 100px 80px;
  }
  .dropdown {
    padding: .75em;
  }
}

@media screen and (max-width: 768px) {
  .social {
    height: 3rem;
    width: 3rem;
  }
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .dropdown {
    padding: .6em;
  }
  .container {
    padding: 80px 60px
  }
  .overlay-container {
    padding: 80px 60px
  }
  .follow {
    font-size: 2.5em;
    padding: 0em;
  }
  .links {
    height: auto;
    text-align: center;
    letter-spacing: 0em;
    padding: 0em;
    max-width: 220px;
  }
  .links>a>img {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 768px) and (orientation:landscape){
  .img{
    max-height:80%;
  }
  .container {
    padding: 80px 100px;
  }

}